<div>
    <header>
        <app-menu-principal></app-menu-principal>
    </header>

    <main class="layout">
        <app-menu-lateral></app-menu-lateral>

        <div class="conteudo-wrapper">
            <app-pagina-erro
                [codigoErro]="404",
                [mensagemErro]="'Página não encontrada'",
                [mensagemDescricao]="'O programador teve preguiça para continuar com o projeto, com isso, a tela está incompleta'"
            >
            </app-pagina-erro>
        </div>
    </main>

    <footer>

    </footer>
</div>

<app-toast></app-toast>