.menu-principal {
    align-items: center;
    background-color: #0f0f0f;
    color: #ffff;
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding: 0 16px;

    &-botao {
        align-items: center;
        background: none;
        border: none;
        border-radius: 50%;
        color: #ffff;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;

        &:hover {
            background-color: #303030;
        }
    }

    .centro {
        flex: 1;
        justify-content: center;
        max-width: 600px;
    }

    &-items {
        display: flex;
        align-items: center;
    }
    
    &-pesquisa {
        background-color: #121212;
        border: 1px solid #303030;
        border-radius: 20px 0 0 20px;
        color: #fff;
        flex: 1;
        height: 40px;
        outline: none;
        padding: 0 12px;
    }

    .centro .menu-principal-botao {
        background-color: #222;
        border-radius: 0 20px 20px 0;
    }
}