<div class="conteudo-wrapper">
    <section class="conteudo">
        <div class="erro-container">
            <div class="erro-card">
                <h1 class="erro-codigo">{{ codigoErro }}</h1>

                <h2 class="erro-titulo">{{ mensagemErro }}</h2>

                <p class="erro-descricao">
                    {{ mensagemDescricao }}
                </p>

                <a class="erro-botao" routerLink="/">
                    Voltar para a página inicial
                </a>
            </div>
        </div>
    </section>
</div>