@import '/src/app/shared/styles/variables';

$card-borda: #eeeeee;
$card-hover: -4px;

:host {
    display: block;
}

.card {
    background-color: $cor-branco;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 460px;
    overflow: hidden;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY($card-hover);
    }

    img {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }

    &-header {
        padding: 16px;

        h2 {
            font-size: 1.05rem;
            margin: 0;
        }

        small {
            color: $cor-texto2;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        gap: 2px;
        padding: 16px 16px 16px 16px;

        p {
            margin: 6px 0;
        }
    }

    &-actions {
        background-color: $cor-branco;
        border-top: 1px solid $card-borda;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 12px 16px;
    }

    &-preco {
        display: flex;
        flex-direction: column;
        justify-content: end;
        flex: 1;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0px 16px;
        text-align: center;
    }

    &-buttons {
        background-color: $cor-principal;
        border: none;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 6px 12px;
        color: $cor-branco;

        &:active {
            box-shadow: inset 0px 0px 10px 0px $cor-principal;
        }

        &:hover {
            background-color: $cor-destaque;
            cursor: pointer;
        }
    }
}