$cor-fundo: #0f0f0f;
$cor-texto: white;
$cor-hover: #512da8;
$cor-divisor: #303030;
$cor-ativo: #512da8;

.menu-lateral {
    background-color: $cor-fundo;
    color: $cor-texto;
    height: 100vh;
    overflow-y: auto; // PERMITE ROLAGEM SE O CONTEÚDO FOR MUITO
    padding: 12px 0;
    width: 240px;

    &-cabecalho {
        align-items: center;
        display: flex;
        height: 40px;
        padding: 0 12px;

        .menu-lateral-seta {
            font-size: 16px;
        }

        span {
            font-size: 16px;
            font-weight: 500;
        }
    }

    &-divisor {
        border: none;
        border-top: 1px solid $cor-divisor;
        margin: 12px 0; // ESPACAMENTO ANTES E DEPOIS DO DIVISOR 
    }

    &-grupo {
        display: flex;
        flex-direction: column;
        gap: 2px; // PEQUENO ESPAÇAMENTO ENTRE OS ITENS DO GRUPO
        padding: 0 12px;
    }

    &-item {
        align-items: center;
        background: transparent;
        border: none; // REMOVE BORDAS PADRÕES DOS ITENS
        border-radius: 10px;
        color: $cor-texto;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        gap: 24px;
        height: 40px;
        padding: 0 12px;
        text-align: left;
        width: 100%;

        .material-icons {
            font-size: 22px;
        }

        &:hover {
            background-color: $cor-hover;
        }

        &.ativo {
            background-color: $cor-ativo;
            font-weight: 500;
        }
    }

    &-nav {
        display: flex;
        flex-direction: column;
        // NÃO É NECESSÁRIO GAP AQUI, POIS OS GRUPOS E DIISORES GERENCIAM O ESPAÇAMENTO
    }
}