<aside class="menu-lateral">
    <nav class="menu-lateral-nav">
        <div class="menu-lateral-grupo">
            <a
                class="menu-lateral-item"
                routerLink="/"
                routerLinkActive="ativo"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <span class="material-icons">home</span>
                <span>Início</span>
            </a>
        </div>

        <hr class="menu-lateral-divisor">

        <div class="menu-lateral-grupo menu-lateral-grupo-mais">
            <a
                class="menu-lateral-item"
                routerLink="/configuracoes"
                routerLinkActive="ativo"
                [routerLinkActiveOptions]="{ exact: true }"
                type="button"
            >
                <span class="material-icons">settings</span>
                <span>Configurações</span>
            </a>

            <a class="menu-lateral-item">
                <span class="material-icons">help_outline</span>
                <span>Ajuda</span>
            </a>
            
            <a class="menu-lateral-item"
            >
                <span class="material-icons">feedback</span>
                <span>Enviar feedback</span>
            </a>
        </div>

        <hr class="menu-lateral-divisor">
    </nav>
</aside>