.app-container {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

.app-layout {
    display: flex;
    flex: 1;
}

.conteudo {
    display: grid;
    flex: 1;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 24px;
}