<div class="menu-principal">
    <div class="menu-principal-items esquerda">
        <button class="material-icons menu-principal-botao">menu</button>
    </div>

    <div class="menu-principal-items centro">
        <input type="text" placeholder="Pesquisar" class="menu-principal-pesquisa">
        <button class="material-icons menu-principal-botao">search</button>
    </div>

    <div class="menu-principal-items direita">
        <div class="menu-lateral-login">
            <button class="material-icons menu-principal-botao">account_circle</button>
            <span>Fazer login</span>
        </div>
    </div>
</div>