<div class="menu-principal">
    <div class="menu-principal-items esquerda">
        <button class="material-icons menu-principal-botao">menu</button>
    </div>

    <div class="menu-principal-items centro">
        <input type="text" placeholder="Pesquisar" class="menu-principal-pesquisa">
        <button class="material-icons menu-principal-botao">search</button>
    </div>

    <div class="menu-principal-items direita">
        <ng-container *ngIf="usuarioLogado$ | async as usuario; else naoLogado">
            <div class="menu-principal-login">
                <span class="menu-principal-usuario">
                    {{ usuario.nome }}
                </span>
            </div>
        </ng-container>

        <ng-template #naoLogado>
            <div class="menu-principal-login" (click)="abrirModalLogin()">
                <button class="material-icons menu-principal-botao">
                    account_circle
                </button>
                <span>Fazer login</span>
            </div>
        </ng-template>
    </div>

    <app-login-modal
        [aberto]="modalAberto"
        (clickedCadastro)="cadastro($event)"
        (clickedLogin)="login($event)"
        (fecharModal)="fecharModalLogin()"
    >
    </app-login-modal>
</div>