<aside class="menu-lateral">
    <nav class="menu-lateral-nav">

        <div class="menu-lateral-grupo">
            <button class="menu-lateral-item ativo">
                <span class="material-icons">home</span>
                <span>Início</span>
            </button>
        </div>

        <hr class="menu-lateral-divisor">

        <div class="menu-lateral-grupo menu-lateral-grupo-mais">
            <button class="menu-lateral-item">
                <span class="material-icons">settings</span>
                <span>Configurações</span>
            </button>
            <button class="menu-lateral-item">
                <span class="material-icons">help_outline</span>
                <span>Ajuda</span>
            </button>
            <button class="menu-lateral-item">
                <span class="material-icons">feedback</span>
                <span>Enviar feedback</span>
            </button>
        </div>

        <hr class="menu-lateral-divisor">
    </nav>
</aside>