$overlay-bg: rgba(0, 0, 0, 0.5);
$spinner-color: #512da8;
$spinner-bg: #f3f3f3;

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: $overlay-bg;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 9999;
  color: white;

  .girador {
    border: 6px solid $spinner-bg;
    border-top: 6px solid $spinner-color;

    border-radius: 50%;
    width: 50px;
    height: 50px;

    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}